/* HTML5 video */

#crxhtml5-player {
    background: #000;
    overflow: hidden;
}

    #crxhtml5-video {
        position: relative;
        height: 100% !important;
        width: 100% !important;
    }

    #crxhtml5-video::-webkit-media-controls-time-remaining-display {
        display: block !important;
        opacity: .5;
    }

    #crxhtml5-video:-webkit-full-screen::-webkit-media-controls-enclosure {
        opacity: 0;
        transition: opacity .3s 1s;
    }

    #crxhtml5-video:-webkit-full-screen::-webkit-media-controls-enclosure:hover {
        opacity: 1;
        transition-delay: 0s;
    }

/* Toolbar */

#crxhtml5-toolbar {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding: 8px 0;
    -webkit-user-select: none;
}

    #crxhtml5-actions {
        align-items: center;
        background-color: #e8e8e8;
        display: inline-flex;
        padding: 8px 0 8px 8px;
        position: relative;
    }

    #crxhtml5-actions:after {
        background-color: inherit;
        display: block;
        content: "\0020";
        height: 100%;
        -webkit-mask: url("chrome-extension://__MSG_@@extension_id__/img/edge.svg") left center no-repeat;
        position: absolute;
        top: 0;
        width: 8px;
    }

        #crxhtml5-actions label {
            display: none;
        }

        #crxhtml5-actions select {
            -webkit-appearance: none;
            background: #fff url("chrome-extension://__MSG_@@extension_id__/img/arrow.svg") calc(100% - 8px) center / 8px no-repeat;
            border: none;
            border-radius: 2px;
            font-size: 11px;
            height: 24px;
            margin: 0 8px 0 0;
            padding: 0 16px 0 4px;
        }

        .crxhtml5-btn {
            -webkit-appearance: none;
            background-color: #999;
            border: none;
            cursor: pointer;
            font-size: 0;
            height: 24px;
            -webkit-mask-repeat: no-repeat;
            margin: 0 8px 0 0;
            outline: none;
            padding: 0;
            transition: background-color 200ms;
            width: 24px;
        }

            #crxhtml5-toggle       { -webkit-mask-image: url("chrome-extension://__MSG_@@extension_id__/img/toggle.svg");   }
            #crxhtml5-reload       { -webkit-mask-image: url("chrome-extension://__MSG_@@extension_id__/img/reload.svg");   }
            #crxhtml5-download     { -webkit-mask-image: url("chrome-extension://__MSG_@@extension_id__/img/download.svg"); }
            #crxhtml5-speed        { -webkit-mask-image: url("chrome-extension://__MSG_@@extension_id__/img/speed.svg");    }
            #crxhtml5-size         { -webkit-mask-image: url("chrome-extension://__MSG_@@extension_id__/img/increase.svg"); }
            #crxhtml5-size:checked { -webkit-mask-image: url("chrome-extension://__MSG_@@extension_id__/img/decrease.svg"); }

        .crxhtml5-btn:hover,
        .crxhtml5-btn:focus {
            background-color: #666;
        }

        .crxhtml5-btn:active {
            -webkit-transform: translate(1px, 1px);
        }

        .crxhtml5-btn:checked {
            background-color: #f06529;
        }

        .crxhtml5-btn:checked:focus,
        .crxhtml5-btn:checked:hover {
            background-color: #e34c26;
        }

        .crxhtml5-btn:disabled {
            background-color: #999 !important;
            -webkit-mask-image: url("chrome-extension://__MSG_@@extension_id__/img/disabled.svg") !important;
        }

            #crxhtml5-toggle:disabled ~ *,
            #crxhtml5-toggle:not(:checked) ~ *,
            #crxhtml5-speed:not(:checked) ~ #crxhtml5-rate {
                display: none !important;
            }

/* YouTube */

body.crxhtml5 #watch7-sidebar {
    margin-top: -360px;
}

body.crxhtml5 #watch7-playlist-tray-trim {
    display: none;
}

body.crxhtml5 #watch7-playlist-tray .video-list-item:last-of-type {
    margin-bottom: 0;
}

body.crxhtml5 .player-height {
    height: 360px;
}

body.crxhtml5 .player-width {
    width: 640px;
}

body.crxhtml5 .watch-medium .player-height {
    height: 480px;
}

body.crxhtml5 .watch-medium .player-width {
    width: 854px;
}

body.crxhtml5 .watch-large .player-height {
    height: 720px;
}

body.crxhtml5 .watch-large .player-width {
    width: 1280px;
}

/* YouTube feather */

body.crxhtml5-feather {
    background-color: #ebebeb;
}

body.crxhtml5-feather #crxhtml5-toolbar {
    border: none;
}

body.crxhtml5-feather #crxhtml5-actions {
    background-color: #fff;
}

body.crxhtml5-feather #crxhtml5-actions select {
    background-color: #f6f6f6;
}

body.crxhtml5-feather-wide #rc {
    display: none;
}

body.crxhtml5-feather-wide #lc {
    width: 854px;
}

body.crxhtml5-feather-wide #crxhtml5-player {
    height: 480px;
    width: 854px;
}
