body {
    font: 75%/1 'Segoe UI', Tahoma, sans-serif;
    margin: 0 auto;
    width: 400px;
}

h1 {
	border-bottom: 1px solid #e6e6e6;
	font-size: 1.8em;
	font-weight: normal;
	margin: .6em 0;
	padding: .6em 0;
}

h2 {
	font-size: 1.1em;
	margin: 1.2em 0 .4em;
}

div {
	padding: 1em 0;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
}

label {
	padding: 0 .8em 0 .4em;
}

input {
	margin: 0;
}

input:disabled + label {
	color: #999;
}
