html {
    align-items: center;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
}

body {
    direction: __MSG_@@bidi_dir__;
    font: 12px/20px "Segoe UI", Tahoma, sans-serif;
    margin: 12px;
}

h1 {
    background: #cd201f;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 12px;
}

h2 {
    font-size: 12px;
    line-height: 1em;
    margin: 1em 0;
}

a {
    color: #15C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #052577;
}

input[type="checkbox"] {
    margin-__MSG_@@bidi_end_edge__: 8px;
}

section {
    background: #fff;
    margin-bottom: 8px;
    padding: 12px;
}

    section > div {
        align-items: center;
        display: flex;
        margin-__MSG_@@bidi_end_edge__: 16px;
        padding: 4px 0;
    }
