html {
    background: #eee;
}

body {
    background: #FFF;
    font: .8em/1.5em 'Segoe UI', Tahoma, sans-serif;
    margin: 0 auto;
    padding: 20px;
    width: 500px;
}

h1 {
    border-bottom: 1px solid #eee;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0 0 1em 0;
    padding-bottom: 1em;
    -webkit-user-select: none;
}

h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 2em 0 1em 0;
}

select {
    background-image: url("../images/arrow.png"), -webkit-linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    min-height: 2em;
    min-width: 4em;
    padding: 0 20px 1px 6px;
    text-shadow: 0 1px 0 #F0F0F0;
    -webkit-appearance: none;
    -webkit-user-select: none;
}
